
                body {

                        font-family: 'Montserrat', sans-serif;
                        padding: 0;
                        margin: 0 auto;
                        background-color: #fff;
                        max-width: 1000px;

                    }

                #chat {
                    
                    width: 100%;
                    float:left;
                    height: 300px;
                    box-sizing: border-box;
                    background-color: ghostwhite;
                    margin-top: 10px;

                }

                .dolnyPasekObraz {

                    height: 24px;
                    width: auto;
                    margin-top: 10px;
                    float:left;
                    margin-right: 20px;

                }

                .dolnyPasekTekst { 

                    top: 20px;
                    position: relative;

                }
                
                #hamburger a:hover {
                    
                    background-color: #dbdbdd;
                    
                }

                #homeworkDrop {

                    display: none;

                }

                #lastClassDrop {

                    display: none;

                }

                #logo {

                    width: 24px;
                    height: 24px;
                }

                .menu {
                    
                    background-color: white;
                    width: 100%;
                    min-height: 40px;
                    float:left;
                    overflow: hidden;
                    position: relative;
                }

                .menu a {

                    color: #1e1e1e;
                    display: block;
                    padding: 8px 25px 8px 25px;
                    font-size: 12px;
                    text-decoration: none;
                    border-bottom: 1px solid #dbdbdd;
                    text-transform: uppercase;

                }

                  .menu a.bars {
                    
                    border-left: 2px solid white;
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 0;
                    cursor: pointer;
                }

                .menu #hamburger {

                    display: none;

                }

                .menuLogo {

                    background-color: #051B23;

                }

                .Pasek {
                    
                    background-color: #3383ff;
                    min-height: 50px;
                    color: white;
                    font-size: 12px;
                    font-weight: bold;
                    padding: 0 0 0 20;
                    width: 100%;
                    box-sizing: border-box;
                    float:left;
                    cursor: pointer;
                    border-bottom: 1px solid white;

                }       

                #pasekNews {
                    
                    width: 100%;
                    background-color: #ff0025;
                    padding: 10px 10px 10px 30px;
                    float:left;
                    box-sizing: border-box;
                    
                }

                .sumUp {

                    width: 100%;
                    float:left;
                    box-sizing: border-box;
                    background-color: #e8f0ff;
                    color: #051B23;
                    font-size: 12px;
                    font-weight: bold;
                    padding: 5 0 0 20;
                    text-transform: uppercase;
                    border-bottom: 1px solid white;
                    
    
                }

                #tekstNews {
                    
                    color: white;
                    font-size: 12px;
                    text-align: left;
                    text-transform: uppercase;

                    
                } 

                .topBox {

                    background-color: #ffe7ea;
                    color: #051B23;
                    font-size: 12px;
                    font-weight: bold;
                    width: 100%;
                    box-sizing: border-box;
                    float:left;
                    padding: 15 10 15 30;
                    font-weight: 900;
                    border-bottom: 1px solid white;
    
                }

        

                
    

                

                

                
                
                
                
               
                
                 